
body{
    /*background-color: #C6D9F1;*/
}
.box {
   /* padding:20px;
    border:1px solid #000;
   */ position:relative;
}

.small {
    width:200px;
    height:200px;
}

.medium {
    width:500px;
    height:350px;
}

.large {
    width:600px;
    height:500px;
}

.sample {
    float: left;
    width: 270px;
}


/* custom loader styles */
.custom-loading.dw-loading {
    text-align: center;
}

.custom-loading.dw-loading.dw-loading-overlay {
    background-color: rgba(0, 255, 255, .7);
    z-index: 9999;
}

.custom-loading.dw-loading > .dw-loading-body > .dw-loading-text {
    color: green;
    font-size: 13px;
    top: 45px;
}